# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.exe
*.out
*.app
auhter.club loader demo/Release/auhter.c.990100e3.tlog/auhter.club loader demo.lastbuildstate
auhter.club loader demo/Release/auhter.c.990100e3.tlog/auhter.club loader demo.write.1u.tlog
auhter.club loader demo/Release/auhter.c.990100e3.tlog/CL.command.1.tlog
auhter.club loader demo/Release/auhter.c.990100e3.tlog/CL.read.1.tlog
auhter.club loader demo/Release/auhter.c.990100e3.tlog/CL.write.1.tlog
auhter.club loader demo/Release/auhter.c.990100e3.tlog/link.command.1.tlog
auhter.club loader demo/Release/auhter.c.990100e3.tlog/link.read.1.tlog
auhter.club loader demo/Release/auhter.c.990100e3.tlog/link.write.1.tlog
auhter.club loader demo/Release/auhter.club loader demo.log
auhter.club loader demo/Release/vc142.pdb
.vs/auhter.club loader demo/v16/ipch/AutoPCH/75ef692fb9b4665c/MAIN.ipch
.vs/auhter.club loader demo/v16/ipch/AutoPCH/57a710ef3ce62d1/API.ipch
.vs/auhter.club loader demo/v16/Browse.VC.opendb
.vs/auhter.club loader demo/v16/Browse.VC.db-wal
.vs/auhter.club loader demo/v16/Browse.VC.db-shm
.vs/auhter.club loader demo/v16/Browse.VC.db
.vs/auhter.club loader demo/v16/.suo
Release/auhter.club loader demo.iobj
Release/auhter.club loader demo.ipdb
Release/auhter.club loader demo.pdb
